<ion-navbar *navbar>
  <ion-title>主题内容</ion-title>
  <!-- <ion-buttons end>
    <button royal (click)="collection()">
      收藏
    </button>
  </ion-buttons> -->
</ion-navbar>
<button fab-right fab-bottom fab class="new-tipic-fab" (click)="comment()"  *ngIf="isLogin">
  <ion-icon name='undo'></ion-icon>
</button>
<ion-content class="has-header">
  <div class="topic-info" *ngIf="data">
    <div class="topic-info-head">
      <h3>{{data.title}}</h3>

      <ion-card>
        <ion-item>
          <ion-avatar item-left>
            <img src={{data.author.avatar_url}}>
          </ion-avatar>
          <h2>{{data.author.loginname}}</h2>
          <ion-badge item-right secondary *ngIf="data.top">置顶</ion-badge>
          <ion-badge item-right secondary *ngIf="data.good">精华</ion-badge>
        </ion-item>
      </ion-card>
    </div>

    <div [innerHTML]="data.content" class="topic-info-content" *ngIf="data">

    </div>
    <div class="">
      <ion-item>
        <!-- <ion-avatar item-left >
          <img src={{data.author.avatar_url}}>
        </ion-avatar> -->
        <button item-right clear (click)="comment()">
          <ion-icon name="undo"></ion-icon>
          评论
        </button>
      </ion-item>
    </div>
  </div>

  <div class="topic-replies" *ngIf="data">
    <ion-card *ngFor="#item of data.replies;#index = index">
      <ion-item>
        <ion-avatar item-left>
          <img src={{item.author.avatar_url}}>
        </ion-avatar>
        <h6>{{item.author.loginname}}</h6>
        <h6 item-right>{{index+1}}楼</h6>
      </ion-item>

      <div [innerHTML]="item.content" class="topic-replies-item-content">

      </div>
      <ion-row>
        <ion-col>
          <button primary clear small (click)="ups(item.id,index)"  [attr.disabled]="isLogin">
            <ion-icon name='thumbs-up'></ion-icon>
            <div>{{item.ups.length}} 赞</div>
          </button>
        </ion-col>
        <ion-col>
          <button primary clear small (click)="comment(item.id,item.author.loginname)" [attr.disabled]="isLogin">
            <ion-icon name='text'></ion-icon>
            <div>回复</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <ion-note>
            {{item.create_at | ryTimeout}}
          </ion-note>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
