<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Ionichina</ion-title>
  <ion-buttons end>
    <button (click)="goMessages()">
      <ion-icon name="notifications"></ion-icon>
      <ion-badge secondary>{{messageCount}}</ion-badge>
    </button>
  </ion-buttons>
</ion-navbar>
<button fab-right fab-bottom fab class="new-tipic-fab" (click)="newTopic()">
  <ion-icon name='add'></ion-icon>
</button>

<ion-content class="has-header">
  <ion-refresher (refresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="#topic of topics" (click)="goTopicInfo(topic.id)">
    <ion-item>
      <ion-avatar item-left>
        <img src="{{topic.author.avatar_url}}">
      </ion-avatar>
      <h2>{{topic.author.loginname}}</h2>
      <ion-badge secondary item-right *ngIf="topic.top">置顶</ion-badge>
      <ion-badge secondary item-right *ngIf="topic.good">精华</ion-badge>
    </ion-item>

    <ion-card-content>
      <p>{{topic.title}}</p>

    </ion-card-content>

    <ion-row>
      <ion-col>
        <button dark clear small disabled>
          <!-- <ion-icon name='eye'></ion-icon> -->
          <div>{{topic.visit_count}} 浏览</div>
        </button>
      </ion-col>
      <ion-col>
        <!-- (click)="comment(topic.id)" -->
        <button  dark clear small disabled>
          <!-- <ion-icon name='text'></ion-icon> -->
          <div>{{topic.reply_count}} 评论</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          <!-- 11h ago -->
          {{topic.last_reply_at | ryTimeout}}
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-infinite-scroll (infinite)="doInfinite($event)">
     <ion-infinite-scroll-content></ion-infinite-scroll-content>
   </ion-infinite-scroll>

</ion-content>
