.menu-header{
  .item-inner{
    border: none;
  }
  ion-item:first-child{
    // padding: 2rem 0rem 5rem 2rem;
    padding: 2rem 0rem 2rem 2rem;


  }
  ion-item{
    background: red;
    color:white;
  }
}
.menu-item-last{
  border-bottom: 1px solid #dedede;
  .item-inner{
    border: none;
  }
}
