<ion-navbar *navbar>
  <ion-title>Ionichina</ion-title>
</ion-navbar>
<ion-content>
  <ion-toolbar>
    <ion-segment [(ngModel)]="tag">
      <ion-segment-button value="hasnot_read_messages">
        未读
      </ion-segment-button>
      <ion-segment-button value="has_read_messages">
        已读
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <div [ngSwitch]="tag">
    <div *ngSwitchWhen="'hasnot_read_messages'">
      <ion-card *ngFor="#message of messages.hasnot_read_messages" (click)="goTopicInfo(message.topic.id)">
        <ion-item>
          <ion-avatar item-left>
            <img src="{{message.author.avatar_url}}">
          </ion-avatar>
          <h2>{{message.author.loginname}}</h2>
          <p>
            回复了您的话题
          </p>
        </ion-item>

        <ion-card-content>
          <div [innerHTML]="message.reply.content">

          </div>

          <div class="messages-topic-title">
            <span>话题：</span>{{message.topic.title}}
          </div>

        </ion-card-content>

      </ion-card>
    </div>

    <div  *ngSwitchWhen="'has_read_messages'">
      <ion-card *ngFor="#message of messages.has_read_messages" (click)="goTopicInfo(message.topic.id)">
        <ion-item>
          <ion-avatar item-left>
            <img src="{{message.author.avatar_url}}">
          </ion-avatar>
          <h2>{{message.author.loginname}}</h2>
          <p>
            回复了您的话题
          </p>
        </ion-item>

        <ion-card-content>
          <div [innerHTML]="message.reply.content">

          </div>

          <div class="messages-topic-title">
            <span>话题：</span>{{message.topic.title}}
          </div>

        </ion-card-content>

      </ion-card>
    </div>

  </div>
</ion-content>
