<ion-navbar *navbar>
  <ion-title>Ionichina</ion-title>
  <ion-buttons end>
    <button>
      <ion-icon name="done-all"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
<ion-content class="has-header">
  <h6 class="messages-tag" *ngIf="messages.hasnot_read_messages.length">未读信息：</h6>
  <ion-card *ngFor="#message of messages.hasnot_read_messages" (click)="goTopicInfo(message.topic.id)">
    <ion-item>
      <ion-avatar item-left>
        <img src="{{message.author.avatar_url}}">
      </ion-avatar>
      <h2>{{message.author.loginname}}</h2>
      <p>
        回复了您的话题
      </p>
    </ion-item>

    <ion-card-content>
      <div [innerHTML]="message.reply.content">

      </div>

      <div class="messages-topic-title">
        <span>话题：</span>{{message.topic.title}}
      </div>

    </ion-card-content>

  </ion-card>
  <h6 class="messages-tag" *ngIf="messages.has_read_messages.length">过往信息</h6>
  <ion-card *ngFor="#message of messages.has_read_messages" (click)="goTopicInfo(message.topic.id)">
    <ion-item>
      <ion-avatar item-left>
        <img src="{{message.author.avatar_url}}">
      </ion-avatar>
      <h2>{{message.author.loginname}}</h2>
      <p>
        回复了您的话题
      </p>
    </ion-item>

    <ion-card-content>
      <div [innerHTML]="message.reply.content">

      </div>

      <div class="messages-topic-title">
        <span>话题：</span>{{message.topic.title}}
      </div>

    </ion-card-content>

  </ion-card>
</ion-content>
